@using DNTPersianUtils.Core


<AuthorizeView Roles="@_rolesCanManageBook">
    <div class="management-buttons">
        <span @onclick="DeleteBook"><i class="fas fa-trash-alt"></i></span>
        <span @onclick="EditBook"><i class="fas fa-edit"></i></span>
        @*<button type="button" class="btn btn-outline-primary" @onclick="EditBook"> ویرایش</button>
            <button type="button" class="btn btn-outline-danger" @onclick="DeleteBook"> حذف</button>*@
    </div>
</AuthorizeView>

<div class="bk-book book-1 bk-bookdefault">
    <div class="bk-front">
        <div class="bk-cover-back"></div>
        <div class="bk-cover" style="background-image: url(@_coverImageUrl);">
            @*<h2>
                    <span></span>
                </h2>*@
        </div>
    </div>

    <div class="bk-page">
        <div class="bk-content bk-content-current">
            <p>
                @BookDto.Description
            </p>
        </div>
    </div>

    <div class="bk-back">
        <p>
            <span>
                نام نویسنده:
                @BookDto.Author
            </span>
            <br />
            <span>
                تاریخ بارگذاری:
                @BookDto.CreatedAt.ToShortPersianDateString()
            </span>
            <br />
            <span>
                حجم:
                @BookDto.BookSizeToDisplay
            </span>
            @if (!string.IsNullOrWhiteSpace(BookDto.Description))
            {
                <br />
                <span>
                    توضیحات:
                    @BookDto.Description
                </span>
            }

        </p>
    </div>

    <div class="bk-right"></div>

    <div class="bk-left">
        <h2>
            <span>هواپیمایی آتا</span>
        </h2>
    </div>

    <div class="bk-top"></div>

    <div class="bk-bottom"></div>
</div>

<div class="bk-info">

    <span class="bk-bookback">جزئیات</span>
    <span class="bk-bookview" @onclick="ViewOrDownloadBook">
        @(BookDto.IsDownloadable ? "دانلود" : "مشاهده")
    </span>
    <h3>
        <span>@BookDto.Title</span>
    </h3>

</div>




