@using DNTPersianUtils.Core
<div class="bk-book book-1 bk-bookdefault">
    <div class="bk-front">
        <div class="bk-cover-back"></div>
        <div class="bk-cover" style="background-image: url(@_coverImageUrl);">
            <h2>
                <span>@BookDto.Title</span>
            </h2>
        </div>
    </div>

    <div class="bk-page">
        <div class="bk-content bk-content-current">
            <p>
                @BookDto.Description
            </p>
        </div>
    </div>

    <div class="bk-back">
        <p>
            <span>
                نام نویسنده:
                @BookDto.Author
            </span>
            <br />
            <span>
                تاریخ بارگذاری:
                @BookDto.CreatedAt.ToShortPersianDateString()
            </span>
            <br />
            <span>

            </span>
        </p>
    </div>

    <div class="bk-right"></div>

    <div class="bk-left">
        <h2>
            <span>هواپیمایی آتا</span>
        </h2>
    </div>

    <div class="bk-top"></div>

    <div class="bk-bottom"></div>
</div>

<div class="bk-info">
    <button class="bk-bookback">جزئیات</button>
    <button class="bk-bookview">خلاصه کتاب</button>
    <button css="bk-bookview" @onclick="ViewOrDownloadBook">
        @(BookDto.IsDownloadable ? $"دانلود (حجم: {BookDto.BookSizeToDisplay})" : "مشاهده")
    </button>
    <!-- <h3>
        <span></span>
    </h3> -->
</div>


<AuthorizeView Roles="@_rolesCanManageBook">
    <div class="management-buttons">
        <button type="button" class="btn btn-outline-primary" @onclick="EditBook"> ویرایش</button>
        <button type="button" class="btn btn-outline-danger" @onclick="DeleteBook"> حذف</button>
    </div>
</AuthorizeView>

