@page "/books"
@page "/books/{CategoryId:int}"
@page "/books/{CategoryId:int}/{CategoryTitle}"
@using ATA.Library.Client.Web.Service.Enums

<Title Value="کتابخانه‌ی مجازی آتا"></Title>

@if (_books == null)
{
    <Loading LoadingType="@LoadingType.RedRing" />
}
else
{
    <div class="category-wrapper row">

        <div class="vtabs customvtab">
            <ul class="nav tabs-vertical">
                @foreach (var category in _categories)
                {
                    <li class="tab nav-item">
                        <NavLink class="nav-link" href="@($"books/{category.Id}/{category.CategoryName?.Replace(" ", "-")}")" Match="NavLinkMatch.All">
                            @category.CategoryName
                        </NavLink>
                    </li>
                }
            </ul>
            <div class="tab-content">
                @if (_books.Count == 0)
                {
                    <div class="no-books-container">
                        <div class="row">
                            <img class="col-12 no-book-image" src="/images/components/no-book-found.jpg" />
                            <h6 class="col-12 no-book-found-text">هیچ کتابی یافت نشد</h6>
                        </div>
                    </div>
                }
                else
                {
                    <div class="main">


                        <ul id="bk-list" class="bk-list clearfix">
                            <li>
                                <div class="bk-book book-1 bk-bookdefault">
                                    <div class="bk-front">
                                        <div class="bk-cover-back"></div>
                                        <div class="bk-cover" style="background-image: url(images/2.png);">
                                            <h2>
                                                <span>A Catwork Orange</span>
                                            </h2>
                                        </div>
                                    </div>

                                    <div class="bk-page">
                                        <div class="bk-content bk-content-current">
                                            <p>خلاصه</p>
                                        </div>
                                    </div>

                                    <div class="bk-back">
                                        <p>
                                            <span>Anthony</span>
                                            <br />
                                            <span>Anthony</span>
                                            <br />
                                            <span>Catwork</span>
                                        </p>
                                    </div>

                                    <div class="bk-right"></div>

                                    <div class="bk-left">
                                        <h2>
                                            <span>هواپیمایی آتا</span>
                                        </h2>
                                    </div>

                                    <div class="bk-top"></div>

                                    <div class="bk-bottom"></div>
                                </div>

                                <div class="bk-info">
                                    <button class="bk-bookback">جزئیات</button>
                                    <button class="bk-bookview">خلاصه کتاب</button>
                                    <a href="#">مشاهده</a>
                                    <!-- <h3>
                                        <span></span>
                                    </h3> -->
                                </div>
                            </li>
                        </ul>




                        @*@foreach (var book in _books)
                        {
                            <div @key="@book" id="@($"book{book.Id}")" class="col-sm-12 col-md-3">
                                <Book BookDto="@book" @key="@book.Id" StateChangeRequest="StateChangeRequested" />
                            </div>
                        }*@
                    </div>
                }
            </div>
        </div>




    </div>

}