@page "/book-form"
@page "/book-form/{BookId:int}"
@page "/book-form/{BookId:int}/{BookTitle}"
@using ATA.Library.Client.Web.Service.Enums


<Title Value="افزودن کتاب"></Title>


@if (_categories == null)
{
    <Loading />
}
else
{
    <div class="form-wrapper">
        <EditForm class="row" Model="_book" OnValidSubmit="HandleBookSubmit">
            <DataAnnotationsValidator />
            <div class="mb-3 col-md-6 col-sm-12">
                <label for="bookCategory" class="form-label"> دسته مرتبط</label>
                <InputSelect id="bookCategory" @bind-Value="_book.CategoryId" class="form-control">
                    @foreach (var category in _categories)
                        {
                        <option @key="category" value="@category?.Id">@category?.CategoryName</option>
                        }
                </InputSelect>
            </div>
            <div class="mb-3 col-md-6 col-sm-12">
                <label for="bookTitle" class="form-label">عنوان </label>
                <InputText class="form-control" id="bookTitle" @bind-Value="_book.Title" placeholder="عنوان کتاب" />
                <ValidationMessage For="()=> _book.Title" />
            </div>
            <div class="mb-3 col-md-12 col-sm-12">
                <label for="bookAuthor" class="form-label">نویسنده / مولف</label>
                <InputText class="form-control" id="bookAuthor" @bind-Value="_book.Author" placeholder="نام نویسنده یا مولف کتاب" />
                <ValidationMessage For="()=> _book.Author" />
            </div>

            <div class="mb-3 col-md-12">
                <label for="bookDescription" class="form-label">توضیحات</label>
                <InputTextArea class="form-control min-h100" id="bookDescription" @bind-Value="_book.Description" placeholder="توضیحات کتاب را وارد نمایید" />
                <ValidationMessage For="()=> _book.Description" />
            </div>

            <div class="mb-3 col-md-6 col-sm-12">
                <label for="bookImageCover" class="form-label">بارگزاری عکس جلد کتاب</label>
                <InputFile id="bookImageCover" class="form-control" OnChange="OnCoverImageFileSelection" />
                <div class="form-text">حداکثر حجم عکس 500 کیلوبایت </div>
                @if (_coverImagePreview != null)
                {
                    <div class="row cover-preview-image-wrapper">
                        <img src="@_coverImagePreview" />
                    </div>
                }
                else if (!string.IsNullOrWhiteSpace(_book.CoverImageUrl))
                {
                    <div class="row cover-preview-image-wrapper">
                        <img src="@(GetCoverAbsoluteUrlFromCoverName(_book.CoverImageUrl))" />
                    </div>
                }
            </div>
            <div class="mb-3 col-md-6 col-sm-12 uploader-container">
                <label for="bookFile" class="form-label uploader-form-title">بارگزاری فایل Pdf کتاب</label>

                <button id="UploaderButton" class="btn border-primary btn-primary m-1">انتخاب فایل کتاب</button>

                <div class="form-text">
                    حداکثر حجم فایل
                    @AppStrings.UploadLimits.MaxBookFileSizeInMB.ToString()
                    مگابایت
                </div>

                <div class="devexp-uploader-wrapper">
                    <DxUpload Name="bookFile"
                              UploadUrl="@_getUploadUrl"
                              ChunkSize="5000000"
                              SelectButtonText="انتخاب فایل کتاب"
                              ShowSelectButton="true"
                              ExternalSelectButtonCssSelector="#UploaderButton"
                              AllowedFileExtensions="@(new List<string> { ".pdf" })"
                              MinFileSize="1000"
                              ShowFileList="false"
                              FileUploadStart="FileUploadStart"
                              FileUploaded="FileUploaded"
                              FileUploadAborted="FileUploadFailed"
                              FileUploadError="FileUploadFailed"
                              MaxFileSize="@MaxAllowedFileSize">
                    </DxUpload>
                </div>



                @if (_uploadStatus != null)
                {
                    <div class="uploading-progress-wrapper">
                        @if (_uploadStatus == UploadStatus.Started)
                        {
                            <img src="/images/components/Loading/circle_red_loading.gif" class="img-uploading" />
                        }
                        else if (_uploadStatus == UploadStatus.Failed)
                        {
                            <img src="/images/components/error-mark.png" class="img-check" />
                        }
                        else
                        {
                            <img src="/images/components/check.png" class="img-check" />
                        }
                        <span style="color: @(_uploadStatus == UploadStatus.Finished ? "green" : "black")">
                            @_uploadStatusTitle
                        </span>
                    </div>
                }
            </div>
            <div class="form row">
                <div class="mb-3  col-md-9 col-sm-12 form-check">
                    <InputCheckbox id="isDownloadable" @bind-Value="_book.IsDownloadable" class="form-check-input" />

                    <label class="form-check-label" for="isDownloadable">
                        امکان دانلود کتاب برای کاربر
                    </label>
                </div>
            </div>
            <div class="form row">
                <div class="col-md-7"></div>
                <div class="mb-3  col-md-2 col-sm-12">
                    <button type="button" @onclick="Cancel" class="btn btn-info w-100">بازگشت</button>
                </div>
                <div class="mb-3 col-md-3 col-sm-12 e-text-left">
                    @if (_uploadStatus == UploadStatus.Started)
                    {
                        <button type="button" disabled="disabled" class="btn btn-primary disabled w-100">در حال بارگزاری فایل</button>
                    }
                    else
                    {
                        if (_isSaving)
                        {
                            <button type="button" disabled="disabled" class="btn btn-primary disabled w-100">در حال ثبت ...</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary w-100">ذخیره</button>
                        }
                    }
                </div>
            </div>

        </EditForm>
    </div>
}
