@page "/books"
@page "/books/{CategoryId:int}"
@page "/books/{CategoryId:int}/{CategoryTitle}"

@if (_books == null)
{
    <Loading />
}
else
{
    <div class="category-wrapper row">

        <div class="vtabs customvtab">
            <ul class="nav tabs-vertical">
                @foreach (var category in _categories)
                {
                    <li class="tab nav-item">
                        <NavLink class="nav-link" href="@($"books/{category.Id}/{category.CategoryName?.Replace(" ", "-")}")" Match="NavLinkMatch.All">
                            @category.CategoryName
                        </NavLink>
                    </li>
                }
            </ul>
            <div class="tab-content">
                @if (_books.Count == 0)
                {
                    <div class="no-books-container">
                        <div class="row">
                            <img class="col-12 no-book-image" src="/images/components/no-book-found.jpg" />
                            <h6 class="col-12 no-book-found-text">هیچ کتابی یافت نشد</h6>
                        </div>
                    </div>
                }
                else
                {
                    @foreach (var book in _books)
                    {
                        <div @key="@book" id="@($"book{book.Id}")" class="tab-pane active">

                            <div class="col-sm-6 col-lg-4 col-xl-3">
                                <Book BookDto="@book" @key="@book.Id" StateChangeRequest="StateChangeRequested" />
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    }
                }
            </div>
        </div>




    </div>

}